@import "../../global-config.css";
@import "../../control/label.css";
@import "../../control/button.css";
@import "../../control/padded-dialog.css";

.pane {
    -fx-pref-width: 400;
    -fx-pref-height: 300;
}

/*.text-flow {*/
/*    -fx-padding: 5 8 0 8;*/
/*}*/

/*.text-flow .text {*/
/*    -fx-text-fill: #828282;*/
/*}*/

.button {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-default-color;
    -jfx-button-type: FLAT;
    -fx-pref-width: -1;
}

.button:hover {
    -fx-background-color: transparent;
}

.button .jfx-rippler {
    -jfx-rippler-fill: lightgray;
}