@import "../global-config.css";
@import "../control/pane.css";

.pane {
    -fx-background-color: white;
    -fx-background-radius: 5;
}

.title {
    -fx-font-size: 16px;
    -fx-text-fill: #737373;
}

.close-button {
    -fx-pref-width: 25;
    -fx-pref-height: 25;
}


.action-button {
    -fx-pref-width: 150;
}